p.p1 {
	margin-left: 0.9cm;}
	
img.i1{
	margin-left: -1.5cm;}
	
.alert {
	padding: 20px;
	background-color: #f44336;
	color: white;
	opacity: 1;
	transition: opacity 0.6s;
	margin-bottom: 15px;}
.alert.success {background-color: #4CAF50;}
.alert.warning {background-color: #D22121;}
.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.closebtn:hover {
color: black;
}
			